{% extends 'base.html' %}
{% set page_title = 'Dashboard' %}

{% block content %}
<div class="grid">
        <div class="card full-width">
            <h3>Company Sales Trend</h3>
            <canvas id="salesChart"></canvas>
        </div>

        {% if user.role in ['boss', 'sales'] %}
        <div class="card">
            <h3>Top Products</h3><canvas id="productChart"></canvas>
        </div>
        <div class="card">
            <h3>Cashier Performance</h3><canvas id="cashierChart"></canvas>
        </div>
        {% endif %}


        {% if user.role == 'hr' %}
        <div class="card full-width hr-card">
            <h3>Employee Bonus Overview (3% Commission)</h3>
            <table id="hrBonusTable" class="hr-table">
                <thead>
                    <tr class="hr-table-header">
                        <th>Employee Name</th>
                        <th>Total Sales</th>
                        <th>Bonus Earned</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="bonusTableBody">
                </tbody>
            </table>
        </div>
        {% endif %}

</div>

<script src="/static/dashboard.js"></script>
{% endblock %}